        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: -webkit-linear-gradient(to right,
                    #2c5364,
                    #203a43,
                    #0f2027);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #ffffff, #2fff00, #ffffff);
        }

        header {
            background-color: #00000022;
            color: white;
            padding: 10px 0;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        header h1,
        header h2 {
            margin: 0;
        }

        .contenedor {
            display: flex;
            flex-wrap: unset;
            width: 80%;
            margin: 0 auto;
        }

        section {
            width: 50%;
            margin: 20px 0;
        }

        .contacto,
        .experiencia {
            margin: 10px 0;
        }

        h2,
        h1,
        p {
            color: #000000;
        }

        .info {
            width: 40%;
            margin: 5px;
        }

        .sobre-mi {
            width: 60%;
            margin: 0 auto;
            text-align: justify;
            padding: 0 20px;
            margin: 5px;
        }

        footer {
            background-color: #09e718;
            color: white;
            text-align: center;
            padding: 10px 0;
            bottom: 0;
            width: 100%;
        }

        img {
            margin: 0;
            width: 70%;

            align-items: center;
        }

        /* alinear en fila */
        .tecnologias {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            margin: 0 auto;
        }

        .tecnologias a img {
            width: 60%;
        }

        h2 {
            animation: color-change 3s infinite;
            text-shadow: 2px 2px 4px rgba(6, 6, 6, 0.467);
            /* Agrega una sombra al texto */
        }

        @keyframes color-change {
            0% {
                color: #f2fa05;
            }

            25% {
                color: #5c5c5cc6;
            }

            50% {
                color: #ffffff;
            }

            75% {
                color: #05fae5c6;
            }

            100% {
                color: #f2fa05;
            }
        }

        h1 {
            font-size: 4rem;
            text-shadow: 2px 2px 4px rgba(1, 1, 1, 0.467);
            /* Agrega una sombra al texto */
        }

        .sharing {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 0.5rem;
        }

        .sharing-item {
            transition: background 0.3s, color 0.3s;
            color: #fff;
            background-color: #000;
            padding: 0.875rem;
            border-radius: 0.5rem;
            box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1),
                0 2px 5px -1px rgba(0, 0, 0, 0.05);
            text-decoration: none;
            /* Agregado para eliminar el subrayado del texto */
        }